body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.tile.mine {
    background-image: url("mine.png");
}

.flagged {
    /*background-color: red;*/
    background-image: url("flag.png");
}
.flagged.mine {
    background-image: url("flagged_mine.png");
}

.clicked {
    background-color: red;
}
.clicked.mine {
    background-image: url("mine.png");
}



#field {
    background-color: black;

    display: grid;
    grid-gap: 1px;
    padding: 1px;


}

