body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flagged {
    background-color: red;
}

.clicked {
    background-color: green;
}

#field {
    background-color: black;

    display: grid;
    grid-gap: 1px;
    padding: 1px;


}

